.App {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.btn {
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 20px;
  transition: all 0.33s ease;

  &:hover {
    background: blue;
    color: white;
  }
}
